<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.TelemetryCorrelation" version="1.0.7" targetFramework="net45" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net452" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0-rc.2.20475.5" targetFramework="net452" />
  <package id="System.Memory" version="4.5.4" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0-rc.2.20475.5" targetFramework="net452" />
</packages>