<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="TestWebServiceSoap" />
        </basicHttpBinding>
      </bindings>
      <behaviors>
        <endpointBehaviors>
          <behavior name="httpBinding">
            <webHttp />
          </behavior>
        </endpointBehaviors>
      </behaviors>
      <client>
        <endpoint address="http://localhost:4321/Asmx/TestWebService.asmx" binding="basicHttpBinding" bindingConfiguration="TestWebServiceSoap" contract="Asmx.TestWebServiceSoap" name="TestWebServiceSoap" />
      </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>