<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="ApplicationInsights SDK Rules" Description="These rules focus on the most critical problems in your code, including potential security holes, application crashes, and other important logic and design errors. It is recommended to include this rule set in any custom rule set you create for your projects. These include a combination of Microsoft Managed Recommended Rules and DevDivRuleSet for Microbuild." ToolsVersion="15.0">
  <Localization ResourceAssembly="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.dll" ResourceBaseName="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.Localized">
    <Name Resource="ApplicationInsightsSDKRules_Name" />
    <Description Resource="ApplicationInsightsSDKRules_Description" />
  </Localization>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="Warning" />
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1007" Action="Warning" />
    <Rule Id="CA1008" Action="Warning" />
    <Rule Id="CA1009" Action="Warning" />
    <Rule Id="CA1010" Action="Warning" />
    <Rule Id="CA1011" Action="Warning" />
    <Rule Id="CA1012" Action="Warning" />
    <Rule Id="CA1013" Action="Warning" />
    <Rule Id="CA1016" Action="Warning" />
    <Rule Id="CA1018" Action="Warning" />
    <Rule Id="CA1024" Action="Warning" />
    <Rule Id="CA1030" Action="Warning" />
    <Rule Id="CA1032" Action="Warning" />
    <Rule Id="CA1033" Action="Warning" />
    <Rule Id="CA1036" Action="Warning" />
    <Rule Id="CA1038" Action="Warning" />
    <Rule Id="CA1039" Action="Warning" />
    <Rule Id="CA1040" Action="Warning" />
    <Rule Id="CA1041" Action="Warning" />
    <Rule Id="CA1044" Action="Warning" />
    <Rule Id="CA1046" Action="Warning" />
    <Rule Id="CA1047" Action="Warning" />
    <Rule Id="CA1048" Action="Warning" />
    <Rule Id="CA1049" Action="Warning" />
    <Rule Id="CA1050" Action="Warning" />
    <Rule Id="CA1051" Action="Warning" />
    <Rule Id="CA1052" Action="Warning" />
    <Rule Id="CA1053" Action="Warning" />
    <Rule Id="CA1057" Action="Warning" />
    <Rule Id="CA1060" Action="Warning" />
    <Rule Id="CA1061" Action="Warning" />
    <Rule Id="CA1062" Action="Warning" />
    <Rule Id="CA1063" Action="Warning" />
    <Rule Id="CA1064" Action="Warning" />
    <Rule Id="CA1065" Action="Warning" />
    <Rule Id="CA1302" Action="Warning" />
    <Rule Id="CA1304" Action="Warning" />
    <Rule Id="CA1306" Action="Warning" />
    <Rule Id="CA1307" Action="Warning" />
    <Rule Id="CA1308" Action="Warning" />
    <Rule Id="CA1400" Action="Warning" />
    <Rule Id="CA1401" Action="Warning" />
    <Rule Id="CA1403" Action="Warning" />
    <Rule Id="CA1404" Action="Warning" />
    <Rule Id="CA1405" Action="Warning" />
    <Rule Id="CA1406" Action="Warning" />
    <Rule Id="CA1409" Action="Warning" />
    <Rule Id="CA1410" Action="Warning" />
    <Rule Id="CA1414" Action="Warning" />
    <Rule Id="CA1415" Action="Warning" />
    <Rule Id="CA1500" Action="Warning" />
    <Rule Id="CA1502" Action="Warning" />
    <Rule Id="CA1504" Action="Warning" />
    <Rule Id="CA1701" Action="Warning" />
    <Rule Id="CA1702" Action="Warning" />
    <Rule Id="CA1703" Action="Warning" />
    <Rule Id="CA1704" Action="Warning" />
    <Rule Id="CA1709" Action="Warning" />
    <Rule Id="CA1710" Action="Warning" />
    <Rule Id="CA1711" Action="Warning" />
    <Rule Id="CA1712" Action="Warning" />
    <Rule Id="CA1713" Action="Warning" />
    <Rule Id="CA1714" Action="Warning" />
    <Rule Id="CA1715" Action="Warning" />
    <Rule Id="CA1716" Action="Warning" />
    <Rule Id="CA1717" Action="Warning" />
    <Rule Id="CA1719" Action="Warning" />
    <Rule Id="CA1721" Action="Warning" />
    <Rule Id="CA1722" Action="Warning" />
    <Rule Id="CA1724" Action="Warning" />
    <Rule Id="CA1725" Action="Warning" />
    <Rule Id="CA1726" Action="Warning" />
    <Rule Id="CA1802" Action="Warning" />
    <Rule Id="CA1811" Action="Warning" />
    <Rule Id="CA1812" Action="Warning" />
    <Rule Id="CA1813" Action="Warning" />
    <Rule Id="CA1816" Action="Warning" />
    <Rule Id="CA1820" Action="Warning" />
    <Rule Id="CA1821" Action="Warning" />
    <Rule Id="CA1822" Action="Warning" />
    <Rule Id="CA1823" Action="Warning" />
    <Rule Id="CA1900" Action="Warning" />
    <Rule Id="CA1901" Action="Warning" />
    <Rule Id="CA1903" Action="Warning" />
    <Rule Id="CA2000" Action="Warning" />
    <Rule Id="CA2001" Action="Warning" />
    <Rule Id="CA2002" Action="Warning" />
    <Rule Id="CA2003" Action="Warning" />
    <Rule Id="CA2006" Action="Warning" />
    <Rule Id="CA2100" Action="Warning" />
    <Rule Id="CA2101" Action="Warning" />
    <Rule Id="CA2102" Action="Warning" />
    <Rule Id="CA2103" Action="Warning" />
    <Rule Id="CA2104" Action="Warning" />
    <Rule Id="CA2105" Action="Warning" />
    <Rule Id="CA2106" Action="Warning" />
    <Rule Id="CA2107" Action="Warning" />
    <Rule Id="CA2108" Action="Warning" />
    <Rule Id="CA2109" Action="Warning" />
    <Rule Id="CA2111" Action="Warning" />
    <Rule Id="CA2112" Action="Warning" />
    <Rule Id="CA2114" Action="Warning" />
    <Rule Id="CA2115" Action="Warning" />
    <Rule Id="CA2116" Action="Warning" />
    <Rule Id="CA2117" Action="Warning" />
    <Rule Id="CA2118" Action="Warning" />
    <Rule Id="CA2119" Action="Warning" />
    <Rule Id="CA2120" Action="Warning" />
    <Rule Id="CA2121" Action="Warning" />
    <Rule Id="CA2122" Action="Warning" />
    <Rule Id="CA2123" Action="Warning" />
    <Rule Id="CA2124" Action="Warning" />
    <Rule Id="CA2126" Action="Warning" />
    <Rule Id="CA2130" Action="Warning" />
    <Rule Id="CA2131" Action="Warning" />
    <Rule Id="CA2132" Action="Warning" />
    <Rule Id="CA2133" Action="Warning" />
    <Rule Id="CA2134" Action="Warning" />
    <Rule Id="CA2135" Action="Warning" />
    <Rule Id="CA2136" Action="Warning" />
    <Rule Id="CA2137" Action="Warning" />
    <Rule Id="CA2138" Action="Warning" />
    <Rule Id="CA2139" Action="Warning" />
    <Rule Id="CA2140" Action="Warning" />
    <Rule Id="CA2141" Action="Warning" />
    <Rule Id="CA2142" Action="Warning" />
    <Rule Id="CA2143" Action="Warning" />
    <Rule Id="CA2144" Action="Warning" />
    <Rule Id="CA2145" Action="Warning" />
    <Rule Id="CA2146" Action="Warning" />
    <Rule Id="CA2147" Action="Warning" />
    <Rule Id="CA2149" Action="Warning" />
    <Rule Id="CA2151" Action="Warning" />
    <Rule Id="CA2200" Action="Warning" />
    <Rule Id="CA2202" Action="Warning" />
    <Rule Id="CA2207" Action="Warning" />
    <Rule Id="CA2208" Action="Warning" />
    <Rule Id="CA2211" Action="Warning" />
    <Rule Id="CA2212" Action="Warning" />
    <Rule Id="CA2213" Action="Warning" />
    <Rule Id="CA2214" Action="Warning" />
    <Rule Id="CA2215" Action="Warning" />
    <Rule Id="CA2217" Action="Warning" />
    <Rule Id="CA2218" Action="Warning" />
    <Rule Id="CA2219" Action="Warning" />
    <Rule Id="CA2220" Action="Warning" />
    <Rule Id="CA2221" Action="Warning" />
    <Rule Id="CA2222" Action="Warning" />
    <Rule Id="CA2223" Action="Warning" />
    <Rule Id="CA2224" Action="Warning" />
    <Rule Id="CA2226" Action="Warning" />
    <Rule Id="CA2229" Action="Warning" />
    <Rule Id="CA2231" Action="Warning" />
    <Rule Id="CA2232" Action="Warning" />
    <Rule Id="CA2233" Action="Warning" />
    <Rule Id="CA2234" Action="Warning" />
    <Rule Id="CA2235" Action="Warning" />
    <Rule Id="CA2236" Action="Warning" />
    <Rule Id="CA2237" Action="Warning" />
    <Rule Id="CA2238" Action="Warning" />
    <Rule Id="CA2240" Action="Warning" />
    <Rule Id="CA2241" Action="Warning" />
    <Rule Id="CA2242" Action="Warning" />
    <Rule Id="CA2243" Action="Warning" />
    <Rule Id="CA5122" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="AD0001" Action="Warning" />
    <Rule Id="CS0078" Action="Warning" />
    <Rule Id="CS0105" Action="Warning" />
    <Rule Id="CS0108" Action="Warning" />
    <Rule Id="CS0109" Action="Warning" />
    <Rule Id="CS0114" Action="Warning" />
    <Rule Id="CS0162" Action="Warning" />
    <Rule Id="CS0164" Action="Warning" />
    <Rule Id="CS0168" Action="Warning" />
    <Rule Id="CS0183" Action="Warning" />
    <Rule Id="CS0184" Action="Warning" />
    <Rule Id="CS0197" Action="Warning" />
    <Rule Id="CS0219" Action="Warning" />
    <Rule Id="CS0251" Action="Warning" />
    <Rule Id="CS0252" Action="Warning" />
    <Rule Id="CS0253" Action="Warning" />
    <Rule Id="CS0278" Action="Warning" />
    <Rule Id="CS0279" Action="Warning" />
    <Rule Id="CS0280" Action="Warning" />
    <Rule Id="CS0282" Action="Warning" />
    <Rule Id="CS0419" Action="Warning" />
    <Rule Id="CS0420" Action="Warning" />
    <Rule Id="CS0435" Action="Warning" />
    <Rule Id="CS0436" Action="Warning" />
    <Rule Id="CS0437" Action="Warning" />
    <Rule Id="CS0440" Action="Warning" />
    <Rule Id="CS0458" Action="Warning" />
    <Rule Id="CS0464" Action="Warning" />
    <Rule Id="CS0465" Action="Warning" />
    <Rule Id="CS0469" Action="Warning" />
    <Rule Id="CS0472" Action="Warning" />
    <Rule Id="CS0473" Action="Warning" />
    <Rule Id="CS0612" Action="Warning" />
    <Rule Id="CS0618" Action="Warning" />
    <Rule Id="CS0626" Action="Warning" />
    <Rule Id="CS0628" Action="Warning" />
    <Rule Id="CS0642" Action="Warning" />
    <Rule Id="CS0652" Action="Warning" />
    <Rule Id="CS0657" Action="Warning" />
    <Rule Id="CS0658" Action="Warning" />
    <Rule Id="CS0659" Action="Warning" />
    <Rule Id="CS0660" Action="Warning" />
    <Rule Id="CS0661" Action="Warning" />
    <Rule Id="CS0665" Action="Warning" />
    <Rule Id="CS0672" Action="Warning" />
    <Rule Id="CS0675" Action="Warning" />
    <Rule Id="CS0684" Action="Warning" />
    <Rule Id="CS0693" Action="Warning" />
    <Rule Id="CS0728" Action="Warning" />
    <Rule Id="CS0809" Action="Warning" />
    <Rule Id="CS0811" Action="Warning" />
    <Rule Id="CS0824" Action="Warning" />
    <Rule Id="CS1030" Action="Warning" />
    <Rule Id="CS1058" Action="Warning" />
    <Rule Id="CS1062" Action="Warning" />
    <Rule Id="CS1064" Action="Warning" />
    <Rule Id="CS1066" Action="Warning" />
    <Rule Id="CS1072" Action="Warning" />
    <Rule Id="CS1522" Action="Warning" />
    <Rule Id="CS1570" Action="Warning" />
    <Rule Id="CS1571" Action="Warning" />
    <Rule Id="CS1572" Action="Warning" />
    <Rule Id="CS1573" Action="Warning" />
    <Rule Id="CS1574" Action="Warning" />
    <Rule Id="CS1580" Action="Warning" />
    <Rule Id="CS1581" Action="Warning" />
    <Rule Id="CS1584" Action="Warning" />
    <Rule Id="CS1587" Action="Warning" />
    <Rule Id="CS1589" Action="Warning" />
    <Rule Id="CS1590" Action="Warning" />
    <Rule Id="CS1591" Action="Warning" />
    <Rule Id="CS1592" Action="Warning" />
    <Rule Id="CS1616" Action="Warning" />
    <Rule Id="CS1633" Action="Warning" />
    <Rule Id="CS1634" Action="Warning" />
    <Rule Id="CS1635" Action="Warning" />
    <Rule Id="CS1645" Action="Warning" />
    <Rule Id="CS1658" Action="Warning" />
    <Rule Id="CS1668" Action="Warning" />
    <Rule Id="CS1685" Action="Warning" />
    <Rule Id="CS1687" Action="Warning" />
    <Rule Id="CS1690" Action="Warning" />
    <Rule Id="CS1692" Action="Warning" />
    <Rule Id="CS1695" Action="Warning" />
    <Rule Id="CS1696" Action="Warning" />
    <Rule Id="CS1697" Action="Warning" />
    <Rule Id="CS1700" Action="Warning" />
    <Rule Id="CS1701" Action="Warning" />
    <Rule Id="CS1702" Action="Warning" />
    <Rule Id="CS1710" Action="Warning" />
    <Rule Id="CS1711" Action="Warning" />
    <Rule Id="CS1712" Action="Warning" />
    <Rule Id="CS1717" Action="Warning" />
    <Rule Id="CS1718" Action="Warning" />
    <Rule Id="CS1720" Action="Warning" />
    <Rule Id="CS1723" Action="Warning" />
    <Rule Id="CS1734" Action="Warning" />
    <Rule Id="CS1735" Action="Warning" />
    <Rule Id="CS1762" Action="Warning" />
    <Rule Id="CS1927" Action="Warning" />
    <Rule Id="CS1956" Action="Warning" />
    <Rule Id="CS1957" Action="Warning" />
    <Rule Id="CS1974" Action="Warning" />
    <Rule Id="CS1981" Action="Warning" />
    <Rule Id="CS1998" Action="Warning" />
    <Rule Id="CS2002" Action="None" />
    <Rule Id="CS2008" Action="Warning" />
    <Rule Id="CS2023" Action="Warning" />
    <Rule Id="CS2029" Action="Warning" />
    <Rule Id="CS2038" Action="Warning" />
    <Rule Id="CS3000" Action="Warning" />
    <Rule Id="CS3001" Action="Warning" />
    <Rule Id="CS3002" Action="Warning" />
    <Rule Id="CS3003" Action="Warning" />
    <Rule Id="CS3005" Action="Warning" />
    <Rule Id="CS3006" Action="Warning" />
    <Rule Id="CS3007" Action="Warning" />
    <Rule Id="CS3008" Action="Warning" />
    <Rule Id="CS3009" Action="Warning" />
    <Rule Id="CS3010" Action="Warning" />
    <Rule Id="CS3011" Action="Warning" />
    <Rule Id="CS3012" Action="Warning" />
    <Rule Id="CS3013" Action="Warning" />
    <Rule Id="CS3014" Action="Warning" />
    <Rule Id="CS3015" Action="Warning" />
    <Rule Id="CS3016" Action="Warning" />
    <Rule Id="CS3017" Action="Warning" />
    <Rule Id="CS3018" Action="Warning" />
    <Rule Id="CS3019" Action="Warning" />
    <Rule Id="CS3021" Action="Warning" />
    <Rule Id="CS3022" Action="Warning" />
    <Rule Id="CS3023" Action="Warning" />
    <Rule Id="CS3024" Action="Warning" />
    <Rule Id="CS3026" Action="Warning" />
    <Rule Id="CS3027" Action="Warning" />
    <Rule Id="CS4014" Action="Warning" />
    <Rule Id="CS4024" Action="Warning" />
    <Rule Id="CS4025" Action="Warning" />
    <Rule Id="CS4026" Action="Warning" />
    <Rule Id="CS7033" Action="Warning" />
    <Rule Id="CS7035" Action="Warning" />
    <Rule Id="CS7080" Action="Warning" />
    <Rule Id="CS7081" Action="Warning" />
    <Rule Id="CS7082" Action="Warning" />
    <Rule Id="CS7090" Action="Warning" />
    <Rule Id="CS7095" Action="Warning" />
    <Rule Id="CS8001" Action="Warning" />
    <Rule Id="CS8002" Action="Warning" />
    <Rule Id="CS8009" Action="Warning" />
    <Rule Id="CS8012" Action="Warning" />
    <Rule Id="CS8018" Action="Warning" />
    <Rule Id="CS8019" Action="Warning" />
    <Rule Id="CS8020" Action="Warning" />
    <Rule Id="CS8021" Action="Warning" />
    <Rule Id="CS8029" Action="Warning" />
    <Rule Id="CS8032" Action="Warning" />
    <Rule Id="CS8033" Action="Warning" />
    <Rule Id="CS8034" Action="Warning" />
    <Rule Id="CS8040" Action="Warning" />
    <Rule Id="CS8073" Action="Warning" />
    <Rule Id="CS8094" Action="Warning" />
    <Rule Id="CS8105" Action="Warning" />
    <Rule Id="CS8123" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.EditorFeatures" RuleNamespace="Microsoft.CodeAnalysis.CSharp.EditorFeatures">
    <Rule Id="IDE0032" Action="Warning" />
    <Rule Id="IDE0032WithoutSuggestion" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0010" Action="Warning" />
    <Rule Id="IDE0010WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0033" Action="Warning" />
    <Rule Id="IDE0033WithoutSuggestion" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.VisualBasic" RuleNamespace="Microsoft.CodeAnalysis.VisualBasic">
    <Rule Id="AD0001" Action="Warning" />
    <Rule Id="CS2008" Action="Warning" />
    <Rule Id="CS2023" Action="Warning" />
    <Rule Id="CS2029" Action="Warning" />
    <Rule Id="CS2038" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.VisualBasic.EditorFeatures" RuleNamespace="Microsoft.CodeAnalysis.VisualBasic.EditorFeatures">
    <Rule Id="IDE0032" Action="Warning" />
    <Rule Id="IDE0032WithoutSuggestion" Action="Warning" />
  </Rules>
</RuleSet>