<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <!--<add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/api/v3/index.json" />-->
    <add key="XunitMyget" value="https://www.myget.org/F/xunit/api/v3/index.json" />
    <add key="ASPNET1" value="https://dotnet.myget.org/F/aspnet1/api/v3/index.json" />
  </packageSources>
  <disabledPackageSources />
</configuration>
