<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Aspnet Release" value="https://www.myget.org/F/aspnetrc2/api/v3/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="msextensions" value="\\aspnetci\drops\Coherence-Signed\release\16795\artifacts\Signed\Packages-NoTimeStamp" />
    <add key="Aspnet Release Old" value="https://myget.org/f/aspnetrelease" />

  </packageSources>
  <disabledPackageSources />
</configuration>
