<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Desktop.Analyzers" version="1.1.0" targetFramework="net40" />
  <package id="MicroBuild.Core" version="0.2.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.ApplicationInsights" version="2.4.0-beta5" targetFramework="net40" />
  <package id="Microsoft.ApplicationInsights.Agent.Intercept" version="2.0.7" targetFramework="net40" />
  <package id="Microsoft.Diagnostics.Tracing.EventRegister" version="1.1.28" targetFramework="net40" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net40" />
  <package id="StyleCop.MSBuild" version="4.7.54.0" targetFramework="net40" developmentDependency="true" />
</packages>