<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
  </extensions>

  <targets>
    <!-- Console Target -->
    <target xsi:type="Console" name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <!-- Application Insights Target with Exporter Options -->
	<target xsi:type="ApplicationInsightsTarget" name="aiTarget">
	    <connectionString>${environment:APPLICATIONINSIGHTS_CONNECTION_STRING}</connectionString>
	    <!-- Optional: Configure exporter options -->
	    <!-- <enableAdaptiveSampling>true</enableAdaptiveSampling> -->
	    <!-- <enableLiveMetrics>false</enableLiveMetrics> -->
	    <!-- <disableOfflineStorage>false</disableOfflineStorage> -->
	</target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="aiTarget" />
  </rules>
</nlog>
