<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MicroBuild.Core" version="0.2.0" targetFramework="net40" developmentDependency="true" />
  <package id="Microsoft.ApplicationInsights" version="2.0.0-beta4" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
  <package id="Microsoft.Diagnostics.Tracing.EventRegister" version="1.1.24" targetFramework="net40" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.24" targetFramework="net40" />
  <package id="StyleCop.MSBuild" version="4.7.49.1" targetFramework="net40" developmentDependency="true" />
</packages>
