<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="979f53d1-8860-45b7-b068-572f52aeb4e8" Publisher="CN=sergkanz" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Core.Win81.Tests</DisplayName>
    <PublisherDisplayName>olegsych</PublisherDisplayName>
    <Logo>StoreLogo.png</Logo>
    <Description>Core.Win81.Tests</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="vstest.executionengine.x86.App" Executable="vstest.executionengine.appcontainer.x86.exe" EntryPoint="vstest.executionengine.x86.App">
      <m2:VisualElements DisplayName="NoUIEntryPoints" Description="vstest.executionengine.x86.App" BackgroundColor="#0084FF" ForegroundText="light" Square150x150Logo="TitleLogo.png" Square30x30Logo="SmallLogo.png">
        <m2:SplashScreen Image="SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>