<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <TelemetryChannel Type="Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.ServerTelemetryChannel, Microsoft.AI.ServerTelemetryChannel">
    <!--<EndpointAddress>http://www.becktechonline.com</EndpointAddress>-->
    <EndpointAddress>http://LocalHost:8789/v2/track</EndpointAddress> 
    <DeveloperMode>true</DeveloperMode>
  </TelemetryChannel>
  <InstrumentationKey>cf2e8eef-29a1-4f24-8cda-b36a63447d82</InstrumentationKey>
  <!-- 
    Learn more about Application Insights configuration with ApplicationInsights.config here: 
    http://go.microsoft.com/fwlink/?LinkID=513840
  -->
  <TelemetryModules>
    <Add Type="Microsoft.ApplicationInsights.DependencyCollector.DependencyTrackingTelemetryModule, Microsoft.AI.DependencyCollector"/>
    <Add Type="Microsoft.ApplicationInsights.Extensibility.Implementation.Tracing.DiagnosticsTelemetryModule, Microsoft.ApplicationInsights"/>
    <Add Type="Microsoft.ApplicationInsights.Web.RequestTrackingTelemetryModule, Microsoft.AI.Web"/>
    <Add Type="Microsoft.ApplicationInsights.Web.ExceptionTrackingTelemetryModule, Microsoft.AI.Web"/>
  </TelemetryModules>
  <TelemetryProcessors>
    <Add Type="Microsoft.ApplicationInsights.Web.HandlerTelemetryProcessor, Microsoft.AI.Web">
      <Handlers>
        <!-- 
        Add entries here to filter out additional handlers: 
        
        NOTE: handler configuration will be lost upon NuGet upgrade.
        -->
        <Add Value="System.Web.Handlers.TransferRequestHandler">
          <RequestNotifications>
            <Add Value="EndRequest" />
          </RequestNotifications>
        </Add>
        <Add Value="Microsoft.VisualStudio.Web.PageInspector.Runtime.Tracing.RequestDataHttpHandler"/>
        <Add Value="System.Web.StaticFileHandler"/>
        <Add Value="System.Web.Handlers.AssemblyResourceLoader"/>
        <Add Value="System.Web.Optimization.BundleHandler"/>
        <Add Value="System.Web.Script.Services.ScriptHandlerFactory"/>
        <Add Value="System.Web.Handlers.TraceHandler"/>
        <Add Value="System.Web.Services.Discovery.DiscoveryRequestHandler"/>
        <Add Value="System.Web.HttpDebugHandler"/>
      </Handlers>
    </Add>
  </TelemetryProcessors>
  <TelemetryInitializers>
    <Add Type="Microsoft.ApplicationInsights.WindowsServer.AzureRoleEnvironmentTelemetryInitializer, Microsoft.AI.WindowsServer" />
    <Add Type="Microsoft.ApplicationInsights.WindowsServer.DomainNameRoleInstanceTelemetryInitializer, Microsoft.AI.WindowsServer" />
    <Add Type="Microsoft.ApplicationInsights.Web.OperationNameTelemetryInitializer, Microsoft.AI.Web"/>
    <Add Type="Microsoft.ApplicationInsights.Web.OperationCorrelationTelemetryInitializer, Microsoft.AI.Web"/>
    <Add Type="Microsoft.ApplicationInsights.Web.UserTelemetryInitializer, Microsoft.AI.Web"/>
    <Add Type="Microsoft.ApplicationInsights.Web.SessionTelemetryInitializer, Microsoft.AI.Web"/>
    <Add Type="Microsoft.ApplicationInsights.WindowsServer.BuildInfoConfigComponentVersionTelemetryInitializer, Microsoft.AI.WindowsServer"/>
  </TelemetryInitializers>
</ApplicationInsights>