<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!--  This file belongs into the EnlistmentRoot folder next to EnlistmentRoot.marker.     -->
    <!--  See the comments in Directory.Build.props for explanations.                         -->
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
