# Syntax: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
# .NET CLI: https://docs.microsoft.com/dotnet/core/tools/
# Description: The purpose of this build is to build and test on both Windows and Linux.

name: Build And Test, WEB

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build-test:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        framework: [netcoreapp3.1,net5.0,net6.0]
        include: 
            - os: ubuntu-latest
              args: "--filter TestCategory!=WindowsOnly"

    steps:
    - uses: actions/checkout@v2
    
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'
        
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.x'

    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
        include-prerelease: true

    - name: Restore
      run: dotnet restore ./WEB/Src/Microsoft.ApplicationInsights.Web.sln

    - name: Build
      run: dotnet build ./WEB/Src/Microsoft.ApplicationInsights.Web.sln --configuration Release --no-restore

    - name: Test
      id: test1
      continue-on-error: true
      run: dotnet test ./WEB/Src/Microsoft.ApplicationInsights.Web.sln --framework ${{ matrix.framework }} --configuration Release --no-build --logger:"console;verbosity=detailed" --logger:"trx;logfilename=${{ github.workspace }}/testResults.trx" ${{ matrix.args }}

    - name: Retry tests
      if: steps.test1.outcome=='failure'
      run: pwsh -f ./.scripts/build_RetryTests.ps1 -TestResultFile ${{ github.workspace }}/testResults.trx -WorkingDirectory ${{ github.workspace }}
