# Syntax: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
# .NET CLI: https://docs.microsoft.com/dotnet/core/tools/
# Description: The purpose of this workflow is to verify that every solution in the repo successfully compiles.

name: Sanity Build

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  sanity-build:

    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        solution: [./SHIM/Microsoft.ApplicationInsights.Shim.sln]

    steps:
    - uses: actions/checkout@v4

    - name: Setup dotnet
      uses: actions/setup-dotnet@v4.3.1
      with:
        dotnet-version: |
            8.0.x
            9.0.x

    - name: Restore
      run: dotnet restore ${{ matrix.solution }}

    - name: Build
      run: dotnet build ${{ matrix.solution }}
